<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epct.cnx">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Thermo.HeatCap" />
        <activity android:name=".Thermo.VdwEOS" />
        <activity android:name=".Thermo.VirialEOS" />
        <activity android:name=".Thermo.Fugacity" />
        <activity android:name=".Thermo.XVirial" />
        <activity android:name=".Thermo.DpBbp" />
        <activity android:name=".Thermo.Antoine" />
        <activity android:name=".Thermo.Steam" />
        <activity android:name=".Maths.Dimen" />
        <activity android:name=".Fluid.Friction" />
        <activity android:name=".Fluid.Atm" />
        <activity android:name=".Fluid.Pump" />
        <activity android:name=".Fluid.Comp" />
        <activity android:name=".Kinetic.KinData" />
        <activity android:name=".Kinetic.Single" />
        <activity android:name=".Kinetic.NCstr" />
        <activity android:name=".HeatMass.ConvHeat" />
        <activity android:name=".HeatMass.TransHeat" />
        <activity android:name=".HeatMass.HeatExc" />
        <activity android:name=".HeatMass.MassDiff" />
        <activity android:name=".HeatMass.ConvMass" />
        <activity android:name=".FluSol.SingPart" />
        <activity android:name=".FluSol.PackedBed" />
        <activity android:name=".FluSol.Pneumatic" />
        <activity android:name=".Proc.Laplace" />
        <activity android:name=".Proc.Sodt" />
        <activity android:name=".Oshe.Probit" />
        <activity android:name=".Oshe.Flamm" />
        <activity android:name=".Oshe.SourceTerm" />
        <activity android:name=".Oshe.PasqGiff" />
        <activity android:name=".Maths.Interpol" />
        <activity android:name=".Maths.Calculus" />
        <activity android:name=".Help.Settings" />
        <activity android:name=".Help.About" />
        <activity android:name=".Help.OpenSource" />
    </application>

</manifest>
